body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background: #ebebeb;
    padding: 1em;
    margin: 1em;
    text-align: center;
}

nav {
    background: #ebebeb;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

section {
    background: #ebebeb;
    text-align: center;
    padding: 1em;
    margin: 1em;
    margin-right: 0px;
    width: 495px;
    height: 275px;
    float: left;
}

aside {
    background: #ebebeb;
    text-align: center;
    padding: 1em;
    margin: 1em;
    margin-left: 10px;
    float: right;
    width: 340px;
    height: 275px;
}

footer {
    background: #ebebeb;
    text-align: center;
    padding: 1em;
    margin: 1em;
    margin-top: 20px;
    clear: both;
}

article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    padding: 1em;
    margin: 0.1em;
    margin-top: 1em;
    height: 200px;
}

h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: relative;
    bottom: -20px;
}

p {
    color: #777;
    background: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: relative;
    bottom: -30px;
}

div {
    margin-bottom: 100px;
    padding: 1px;
}